@import 'fonts';

$main-color: #9d0a0f;

body {
	//background-color: #000; 
	background-color: #9d0a0f; 
	margin: 0;
	font-family: 100% Gotham Book, sans-serif;
} 

.container-fluid {

	> :first-child{
		padding-top: 50px;
	}

	.row {
		div {
			//color: #fff;
			z-index: 1;
			display: flex;
		}

		.site {
			display: flex;
			justify-content: flex-end; 
			align-items: center;

			@media screen and (max-width: 576px){
				display: none;
			}
		}

		.name {
			display: flex;
			align-items: center;

			@media screen and (max-width: 576px){
				display: none;
			}

			&__desc {
				color: #fff;
			}
		}

		.work {
			display: flex;
			justify-content: space-between;

			@media screen and (max-width: 576px){
				display: none;
			}

			&__item {				
				display: flex;
				align-items: center;
				font-size: 12px;
				font-weight: 700;
				transition: border-bottom 0.5s;				

				a {
					color: #fff;					
					letter-spacing: 2px;

					&:hover a{
						border-bottom: 2px solid #fff;
					}
				}
			}
		}

		.info {
			justify-content: space-between;

			@media screen and (max-width: 576px){
				display: none;
			}

			&__item {
				display: flex;
				align-items: center;
				font-size: 12px;
				font-weight: 700;

				a {
					color: #fff;
					letter-spacing: 2px;
				}				
			}
		}

		.lang {
			align-items: center;
			justify-content: flex-end;

			@media screen and (max-width: 576px){
				display: none;
			}
		}					
	}

	.title {
		margin-top: 100px;

		@media screen and (max-width: 576px){
			margin-top: 0;
			justify-content: center;
		}

		&__desc {
			font-size: 118px;
			font-weight: 500;
			color: #fff;

			@media screen and (max-width: 576px){
				font-size: 60px;
				letter-spacing: 1px;
			}
		}
	}

	.units {
		margin-top: 100px;

		@media screen and (max-width: 576px){			
			margin: 40px 15px;
		}

		&__column {
			flex-direction: column;
			font-size: 24px;
			font-weight: 500;
			max-width: 220px;
			color: #fff;

			@media screen and (max-width: 576px){
				font-size: 20px;
				line-height: 36px;
				max-width: 160px;

				:last-of-type {
					margin-bottom: 40px;
				}
			}

			.unit {
				position: relative;
  				overflow: hidden;

				&::after {
					transition: all 1s;
				}

				&:hover {
					cursor: pointer;
					animation: trans 2s ease-out infinite;

					&::after {
						
					}
				}
			}
		}

		&__description {
			flex-direction: column;
			border: 3px solid #fff;
			padding: 40px 50px;
			margin-right: 10px;
			color: #fff;

			@media all and (max-width: 576px){
				margin-left: 10px;
			}

			&__title {
				font-size: 24px;
				margin-bottom: 20px;
			}

			&__content {
				font-size: 16px;
				line-height: 30px;
			}
		}
	}	
}

.anima{
	animation: ann 2s ease infinite;				
}

@keyframes ann {
	0% {		
		box-shadow: none;
	}

	50% {		
		box-shadow: 0 0 0 15px rgba(255,255,255, 0.8);
	}

	100% {
		box-shadow: none;		
	}
}

@keyframes trans {
	0% {
		transform: translateX(0px);		
	}

	50% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0px);		
	}
}

@keyframes line_animate {
	0% {
		display: block;
		content: '';
		width: 10px;
		height: 2px;
		background: #333333;  
		background: -webkit-linear-gradient(to right, #dd1818, #333333);  
		background: linear-gradient(to right, #dd1818, #333333); 
		transition: all .5s;		
	}

	50% {
		display: block;
		content: '';
		width: 210px;
		height: 2px;
		background: #333333;  
		background: -webkit-linear-gradient(to right, #dd1818, #333333);  
		background: linear-gradient(to right, #dd1818, #333333); 
		transition: all .5s;
	}

	100% {
		display: block;
		content: '';
		width: 10px;
		height: 2px;
		background: #333333;  
		background: -webkit-linear-gradient(to right, #dd1818, #333333);  
		background: linear-gradient(to right, #dd1818, #333333); 
		transition: all .5s;		
	}
}

.lowlight {
	color: rgba(0,0,0,0.4);
}

.hightlight {
	color: #fff;
}

.line {
	height: 2px;
	background-color: #fff;
	width: 210px;
}

#map-wrapper {
	position: fixed;
  	top:0 ;
  	left: 0;
    height: 100vh;
  	width: 100vw;

	#map {
		position: relative;
	  	height: 100%;
	  	width: 100vw;
	  	outline: none;
	  	touch-action: none;	  	
	  	background-color: #9d0a0f;

	  	.parisMarker, .otherMarker, .bauMarker {
	  		.leaflet-popup-content-wrapper {
	  			background-color: rgba(0,0,0,0);
	  			color: #fff;	  			
	  			box-shadow: none;
	  			z-index: 2;	  			

	  			.up-line {
	  				font-size: 26px;
	  			}	  			

	  			.over {
	  				display: flex;
	  				position: relative;

	  				.line {
		  				margin: 10px 0;

		  				&::after {
		  					display: block;
							content: '';
							width: 10px;
							height: 2px;
							background-color: blue;
							transition: all .5s;
		  					animation: line_animate 3s ease infinite;
		  				}
		  			}

		  			.circle {
		  				height: 10px;
		  				width: 10px;
		  				border-radius: 50%;
		  				background-color: #fff;
		  				position: absolute;
					    right: -27px;
					    top: 7px;
					    animation: ann 3s ease infinite;
		  			}
	  			}	  			

	  			.below-line {
	  				font-size: 20px;
	  			}

	  			#text {
	  				font-family: Gotham Book;
	  			}
	  		}

	  		.leaflet-popup-tip-container {
	  			display: none;
	  		}
	  	}
	}
}

.vis {
	visibility: visible;
}

.hid {
	visibility: hidden;
}

select {	
    margin: 0;
    background: rgba(0,0,0,0);
    color: #fff;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;
    cursor: pointer;
    width: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 12px !important;
    font-weight: 700;

    option {
    	color: red;
    	background-color: rgba(0,0,0,0.2);
    }
}

label {
	position:relative;
	padding-top: 5px;
	font-family: FontAwesome, sans-serif;
}

select:before {
    content: '\f078';   
    font-family: 'Font Awesome 5 Free';
    font-size: 11px;
    color: blue;
    left: -10px; 
    top: 5px;    
    position: absolute;
    pointer-events: none;
}



